<div class="flashes">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :class=>"flash flash_#{name}" %>
  <% end %>
</div>
<div id="osprotect_content" class="with_sidebar">
  <div id="main_content_wrapper">
    <div id="main_content">
      <% if @events_count > 0 %>
        <table border="0" cellspacing="0" cellpadding="0" class="dashboard">
          <tbody>
            <tr>
              <td>
                <div class="dashboard_section panel">
                  <h3>Stats</h3>
                  <div class="panel_contents">
                    <table border="0" cellspacing="0" cellpadding="0">
                      <thead>
                        <tr>
                          <th style="text-align:left"><small>count (all time)</small></th>
                          <th style="text-align:left">Priority</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @priorities.each do |priority| %>
                            <tr class="even">
                              <td width="20%"><%= number_with_delimiter(priority.priority_cnt) %></td>
                              <td><%= link_to priority.sig_priority, events_path('q[sig_priority]' => priority.sig_priority) %></td>
                            </tr>
                        <% end %>
                      </tbody>
                    </table>
                    <%
                    total = 0
                    data = []
                    labels = []
                    @priorities.collect do |priority|
                      total += priority.priority_cnt
                      data << priority.priority_cnt
                    end
                    labels = @priorities.collect do |priority|
                      "#{priority.sig_priority} (#{total == 0 ? 0 : (100.0 * priority.priority_cnt / total).round}%)"
                    end
                    %>
                    <%# themes: keynote, thirty7signals, pastel, greyscale %>
                    <%= image_tag(Gchart.pie(data: data, labels: labels, size: '350x250', title: "Priority", theme: :thirty7signals)) %>
                    <hr />
                    <table border="0" cellspacing="0" cellpadding="0">
                      <thead>
                        <tr>
                          <th style="text-align:left"><small>count (all time)</small></th>
                          <th style="text-align:left">Top Attackers <small>(source IPs)</small></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @attackers.each do |attack_ip| %>
                            <tr class="odd">
                              <td width="20%"><%= number_with_delimiter(attack_ip.ipcnt) %></td>
                              <td><%= link_to attack_ip.ip_source, events_path('q[source_address]' => attack_ip.ip_source) %></td>
                            </tr>
                        <% end %>
                      </tbody>
                    </table>
                    <%
                    total = 0
                    data = []
                    labels = []
                    @attackers.collect do |attack_ip|
                      total += attack_ip.ipcnt
                      data << attack_ip.ipcnt
                    end
                    labels = @attackers.collect do |attack_ip|
                      "#{attack_ip.ip_source} (#{total == 0 ? 0 : (100.0 * attack_ip.ipcnt / total).round}%)"
                    end
                    %>
                    <%# themes: keynote, thirty7signals, pastel, greyscale %>
                    <%= image_tag(Gchart.pie(data: data, labels: labels, size: '450x250', title: "Top Attackers", theme: :thirty7signals)) %>
                    <hr />
                    <table border="0" cellspacing="0" cellpadding="0">
                      <thead>
                        <tr>
                          <th style="text-align:left"><small>count (all time)</small></th>
                          <th style="text-align:left">Top Targets <small>(destination IPs)</small></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @targets.each do |target_ip| %>
                            <tr class="even">
                              <td width="20%"><%= number_with_delimiter(target_ip.ipcnt) %></td>
                              <td><%= link_to target_ip.ip_destination, events_path('q[destination_address]' => target_ip.ip_destination) %></td>
                            </tr>
                        <% end %>
                      </tbody>
                    </table>
                    <%
                    total = 0
                    data = []
                    labels = []
                    @targets.collect do |target_ip|
                      total += target_ip.ipcnt
                      data << target_ip.ipcnt
                    end
                    labels = @targets.collect do |target_ip|
                      "#{target_ip.ip_destination} (#{total == 0 ? 0 : (100.0 * target_ip.ipcnt / total).round}%)"
                    end
                    %>
                    <%# themes: keynote, thirty7signals, pastel, greyscale %>
                    <%= image_tag(Gchart.pie(data: data, labels: labels, size: '450x250', title: "Top Targets", theme: :thirty7signals)) %>
                    <hr />
                    <table border="0" cellspacing="0" cellpadding="0">
                      <thead>
                        <tr>
                          <th style="text-align:left"><small>count (all time)</small></th>
                          <th style="text-align:left">Top Events by Signature</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @events.each do |event| %>
                            <tr class="odd">
                              <td width="20%"><%= number_with_delimiter(event.event_cnt) %></td>
                              <td><%= link_to event.sig_name, events_path('q[sig_id]' => event.sig_id) %></td>
                            </tr>
                        <% end %>
                      </tbody>
                    </table>
                    <%
                    total = 0
                    data = []
                    labels = []
                    @events.collect do |event|
                      total += event.event_cnt
                      data << event.event_cnt
                    end
                    labels = @events.collect do |event|
                      "#{event.sig_name} (#{total == 0 ? 0 : (100.0 * event.event_cnt / total).round}%)"
                    end
                    %>
                    <%# themes: keynote, thirty7signals, pastel, greyscale %>
                    <%= image_tag(Gchart.pie(data: data, labels: labels, size: '850x250', title: "Top Events by Signature", theme: :thirty7signals)) %>
                    <hr />
                    <%#=debug ProcTable.ps %>
                    <% if Rails.env.production? %>
                        <%#=debug Sys::CPU.cpu_stats # cls: this is just physical machine info%>
                        <%#=debug Sys::CPU.processors # cls: this shows nothing %>
                        <table border="0" cellspacing="0" cellpadding="0">
                          <thead>
                            <tr><th colspan="2" style="text-align:left">CPU Load Averages</th></tr>
                          </thead>
                          <tbody>
                            <tr class="odd">
                              <td width="20%">last minute</td>
                              <td><%= Sys::CPU.load_avg[0] %></td>
                            </tr>
                            <tr class="odd">
                              <td width="20%">last 5 minutes</td>
                              <td><%= Sys::CPU.load_avg[1] %></td>
                            </tr>
                            <tr class="odd">
                              <td width="20%">last 15 minutes</td>
                              <td><%= Sys::CPU.load_avg[2] %></td>
                            </tr>
                          </tbody>
                        </table>
                    <% end %>
                  </div> <!-- panel_contents -->
                </div> <!-- dashboard_section -->
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div> <!-- main_content -->
  </div> <!-- main_content_wrapper -->

  <% if @events_count > 0 %>
    <div id="sidebar">
      <div class="sidebar_section panel">
        <div class="panel_contents" style="margin-top:15px">
          <table border="0" cellspacing="0" cellpadding="0" style="margin-top:-20px">
            <thead>
              <tr>
                <th style="text-align:left">
                  <%= form_tag incidents_path, method: :get do %>
                    <div class="buttons" id="incidents">
                      <%= submit_tag 'Incidents', title: 'view all Incidents' %>
                    </div>
                  <% end %>
                </th>
                <th style="text-align:left"><br />Status</th>
              </tr>
            </thead>
            <tbody>
              <% @incidents.each do |incident| %>
                  <tr class="odd">
                    <td style="white-space:nowrap"><%= link_to truncate(incident.incident_name, length: 25), edit_incident_path(incident), title: "#{incident.incident_name}" %></td>
                    <td><span class="status <%=incident.status_class%>"><%= incident.status %></span></td>
                  </tr>
                  <tr><td colspan="2"></td></tr>
              <% end %>
              <tr class="odd">
                <td>pending</td>
                <td><%= number_with_delimiter @pending_incidents %></td>
              </tr>
              <tr class="odd">
                <td>suspicious</td>
                <td><%= number_with_delimiter @suspicious_incidents %></td>
              </tr>
              <tr class="odd">
                <td>resolved</td>
                <td><%= number_with_delimiter @resolved_incidents %></td>
              </tr>
              <tr class="odd">
                <td>total</td>
                <td><%= number_with_delimiter Incident.count %></td>
              </tr>
            </tbody>
          </table>
          <h4>notes/todos:</h4>
          <ul>
            <li>Stats about traffic by protocol(TCP, UDP, ICMP, etc.) ?</li>
            <br />
            <li>Instead of "all time" an option to choose between today, this week, this month, this year should be provided.</li>
            <br />
            <li>Perhaps the linux commands 'w', '/proc/...', or similar could be used to generate info (such as cpu load, memory, disk usage, interfaces, network traffic, etc.) for/on each sensor box, but how would that info get transferred from each box into the database?</li>
          </ul>
        </div> <!-- panel_contents -->
      </div> <!-- sidebar_section -->
    </div> <!-- sidebar -->
  <% end %>
</div> <!-- osprotect_content -->
