<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>osProtect: Notification Results</title>
</head>
<body>
  <h2>Notification summary for <%= @user.username %>:</h2>
  <% @notification_results.each do |nr| %>
      <blockquote>
        <p>
          <strong><%= pluralize(nr.total_matches, 'event') %></strong> were found matching your criteria within the
          time frame of <%= nr.events_timestamped_from %> to <%= nr.events_timestamped_to %>.
        </p>
        <p>
          To view the results for this notification, follow this link: <%= link_to('notification results', url_for(:action => 'index', :controller => 'notifications', only_path: false)) %>.
        </p>
      </blockquote>
      <hr />
  <% end %>
</body>
</html>