<div class="flashes">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :class=>"flash flash_#{name}" %>
  <% end %>
</div>
<div id="osprotect_content" class="without_sidebar">
  <div id="main_content_wrapper">
    <div id="main_content">
      <div class="pagination_information"><%= page_entries_info @notifications %></div>
      <div class="paginated_collection">
        <%= form_tag new_notification_path, method: :get do %>
          <div class="buttons" id="add_new_notification">
            <%= submit_tag 'create Notification' %>
          </div>
        <% end %>
        <br />
        <div class="paginated_collection_contents">
          <div class="index_content">
            <div class="index_as_table">
              <table border="0" cellspacing="0" cellpadding="0" id="events" class="index_table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Results</th>
                    <th>Criteria used to match Events</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% unless @notifications.blank? %>
                      <% @notifications.each do |notification| %>
                          <tr class="<%= cycle('even', 'odd') %>">
                            <td><%= link_to notification.id, edit_notification_path(notification) %></td>
                            <td>
                              <% if notification.notification_results.count > 0 %>
                                  <%= link_to "#{notification.notification_results.count}", notification_results_path(id: notification) %>
                              <% else %>
                                  none
                              <% end %>
                            </td>
                            <td>
                              <%# definitely need a presenter here to handle the display of criteria %>
                              <% unless notification.notify_criteria.blank? %>
                                  <span style="font-size:0.9em">
                                    <em>min: </em>
                                    <strong><%= notification.notify_criteria.minimum_matches <= 0 ? 'any' : notification.notify_criteria.minimum_matches %></strong>
                                    &nbsp;&nbsp;
                                    <em>priorities: </em>
                                    <strong><%= notification.notify_criteria.priorities.size <= 0 ? 'any' : "#{notification.notify_criteria.priorities.join(', ')}" %></strong>
                                    &nbsp;&nbsp;
                                    <em>attacker IP: </em>
                                    <strong><%= notification.notify_criteria.attacker_ips.blank? ? 'any' : notification.notify_criteria.attacker_ips %></strong>
                                    &nbsp;&nbsp;
                                    <em>target IP: </em>
                                    <strong><%= notification.notify_criteria.target_ips.blank? ? 'any' : notification.notify_criteria.target_ips %></strong>
                                  </span>
                              <% end %>
                            </td>
                            <td><%= notification.status %></td>
                            <td><%= link_to 'delete', notification, confirm: 'Are you sure?', method: :delete %></td>
                          </tr>
                      <% end %>
                  <% else %>
                    <tr><td colspan="6"><h3>No notifications found!</h3></td></tr>
                  <% end %>
                </tbody>
              </table>
            </div> <!-- index_as_table -->
          </div> <!-- index_content -->
        </div> <!-- paginated_collection_contents -->
        <div id="index_footer">
          <%= will_paginate @notifications %>
        </div> <!-- index_footer -->
      </div> <!-- paginated_collection -->
    </div> <!-- main_content -->
  </div> <!-- main_content_wrapper -->
</div> <!-- osprotect_content -->
