<% @title = 'Notification Results' %>
<% presenting @events, "EventPagePresenter" do |presenter| %>
  <div class="flashes">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :class=>"flash flash_#{name}" %>
    <% end %>
    <div id="incident" class="flash flash_notice" style="display:none">
      <%= render partial: 'incident', locals: {incident: @incident} %>
    </div>
  </div>
  <div id="osprotect_content" class="with_sidebar">
    <div id="main_content_wrapper">
      <div id="main_content">
        <% unless @events.blank? %>
          <div class="paginated_collection">
            <%= form_tag events_path, method: :post, :remote => :true, class: "event_select_form" do %>
              <% if @events.size > 0 %>
                  <div class="buttons" id="add-selected-events">
                    <%= submit_tag 'Add selected events to', id: 'submit-selected-events' %>
                    <%= select_tag(:incident_id, options_for_select(Incident.all.collect {|i| [ "##{i.id} - #{truncate(i.incident_name)}", i.id ] }), {prompt: "a new Incident or select from this list"}) %>
                  </div>
                  <div id="adding-events-spinner" style="display:none">
                    <%= image_tag('loading-bars.gif') %>
                  </div>
              <% end %>
              <div class="pagination_information">&nbsp;<%= page_entries_info @events %></div>
              <div class="paginated_collection_contents">
                <div class="index_content">
                  <div class="index_as_table">
                    <% if @events.size > 0 %>
                        <table border="0" cellspacing="0" cellpadding="0" id="events" class="index_table">
                          <thead>
                            <tr>
                              <th class="sortable small">
                                <%= image_tag('check.png', id: 'events-check', title: 'click to toggle checkboxes')%>
                              </th>
                              <th class="sortable">Priority</th>
                              <th class="sortable">Signature</th>
                              <th class="sortable">Source</th>
                              <th class="sortable">Destination</th>
                              <th class="sortable">Sensor</th>
                              <th class="sortable">Timestamp</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% @events.each_with_index do |event, x| %>
                                <tr class="<%= cycle('even', 'odd') %>">
                                  <td><%= check_box_tag "event[#{x}]", event.key, false, :id => "check_box_#{event.key_with_underscore}", :class => 'select-events' %></td>
                                  <td><%=event.priority%></td>
                                  <td><%= link_to event.signature, event_path(event.key) %></td>
                                  <td><%=event.source_ip_port%></td>
                                  <td><%=event.destination_ip_port%></td>
                                  <td><%=event.sensor_name%></td>
                                  <td><%=event.timestamp%></td>
                                </tr>
                            <% end %>
                          </tbody>
                        </table>
                    <% else %>
                        <br /><h2>No events found!</h2>
                    <% end %>
                  </div> <!-- index_as_table -->
                </div> <!-- index_content -->
              </div> <!-- paginated_collection_contents -->
            <% end %> <!-- form_tag events_path -->

            <div id="index_footer">
              <div style="float:left">
                <%#= button_to 'create PDF', events_pdf_url(q: params[:q], format: :pdf), method: "post" %>
                <%# the following opens a new tab in the browser: %>
                <%#= button_to 'create PDF', events_pdf_url(q: params[:q], format: :pdf), method: "post", form: {"target" => "_blank"} %>
              </div>
              <%= will_paginate @events %>
            </div>
          </div> <!-- paginated_collection -->
        <% else %>
          <br /><h2>No events found!</h2>
        <% end %>
      </div> <!-- main_content -->
    </div> <!-- main_content_wrapper -->

    <div id="sidebar">
      <div class="spacer57"></div>
      <div class="sidebar_section panel">
        <h3>&larr; Results for notification: <%= "#{@notification.id}" %></h3>
        <div class="panel_contents">
            <ul style="list-style-type:none">
              <li>- events matched: <strong><%= number_with_delimiter @notification_result.total_matches %></strong></li>
              <li>- email sent: <strong><%= @notification_result.email_sent ? "yes" : "no" %></strong></li>
              <li>- results are from:</li>
              <li style="padding-left:20px"><strong><%= @notification_result.events_timestamped_from %></strong></li>
              <li style="padding-left:50px">to:</li>
              <li style="padding-left:20px"><strong><%= @notification_result.events_timestamped_to %></strong></li>
              <li>- match criteria:</strong></li>
              <li style="padding-left:20px">
                <% unless @notification_result.notify_criteria_for_this_result.blank? %>
                    <span style="font-size:0.9em">
                      <ul>
                        <% @notification_result.notify_criteria_for_this_result.each do |key,value|
                            next if value.blank?
                            key = 'priority' if key == 'sig_priority'
                            value = 'any' if key == 'minimum_matches' && value == '0'
                            if key == 'sensor_id'
                              key = 'sensor'
                              value = Sensor.find(value.to_i).hostname
                            end
                            if key == 'sig_id'
                              key = 'signature'
                              value = SignatureDetail.find(value.to_i).sig_name
                            end
                          %>
                          <li><em><%=key%>:</em> <strong><%=value%></strong></li>
                        <% end %>
                      </ul>
                    </span>
                <% end %>
              </li>
              <li>- recorded: <%= @notification_result.created_at %></li>
            </ul>
        </div> <!-- panel_contents -->
      </div> <!-- sidebar_section -->
    </div> <!-- sidebar -->

  </div> <!-- osprotect_content -->
<% end %>
