<li id="groups" class="<%=("groups" == @pcd) ? @cur : ''%>">
  <%= link_to 'Groups', groups_path %>
  <ul>
    <li id="groups" class="current"><%= link_to 'New Group', new_group_path %></li>
  </ul>
</li>
<li id="users" class="<%=("users" == @pcd) ? @cur : ''%>">
  <%= link_to 'Users', users_path %>
  <ul>
    <li id="users" class="current"><%= link_to 'New User', new_user_path %></li>
  </ul>
</li>
