<div id="header">
  <div class="header_banner">
    <%= link_to image_tag("Clone_Systems_Managed_Security.jpeg", :alt => "Clone Systems Website", :class => 'Blogo'), "http://www.clone-systems.com" %>
  </div>
  <div class="app_name"></div>
  <div class="clear"></div>
  <div class="header_menu">
    <% @pcd = params[:controller].downcase %>
    <% @cur = "current" %>
    <ul class="tabbed_navigation" id="tabs">
      <%= render partial: 'layouts/events_menu' %>
      <%= render partial: 'layouts/pulse_menu' %>
      <%= render partial: 'layouts/incidents_menu' %>
      <%= render partial: 'layouts/sensors_menu' %>
      <%= render partial: 'layouts/notifications_menu' if APP_CONFIG[:can_do_notifications] %>
      <%= render partial: 'layouts/reports_menu' if APP_CONFIG[:can_do_reports] %>
      <%= render partial: 'layouts/admins_menu' if can?(:admin, User) %>
      <%= render partial: 'layouts/resque_server_menu' if current_user.username == 'admin' %>
    </ul>
    <%= render partial: 'layouts/right_side_menu' %>
  </div>
</div>
