<%# note: if PDFs are a submenu of Reports uncomment this: %>
<!-- <li id="reports" class="<%#=['reports', 'pdfs'].include?(@pcd) ? @cur : ''%>"> -->
<%# note: if PDFs are a submenu of Reports remove/comment this: %>
<li id="reports" class="<%=("reports" == @pcd) ? @cur : ''%>">
  <%= link_to 'Reports', reports_path %>
  <ul>
    <li id="reports" class="current">
      <%= link_to 'New Events Report', new_report_path(commit: 'New Events Report') %>
    </li>
    <li id="reports" class="current">
      <%= link_to 'New Incidents Report', new_report_path(commit: 'New Incidents Report') %>
    </li>
    <%# note: if PDFs are a submenu of Reports uncomment this: %>
    <!-- 
    <li id="reports" class="current">
      <%#= link_to 'PDF Reports', pdfs_path %>
    </li> 
    -->
  </ul>
</li>
<%# note: if PDFs are a submenu of Reports remove/comment this: %>
<li id="pdfs" class="<%=("pdfs" == @pcd) ? @cur : ''%>">
  <%= link_to 'PDFs', pdfs_path %>
</li>
