<!DOCTYPE html>
<html>
<head>
  <title>osProtect</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="logged_out new">
  <%= yield %>
  <footer>
    <center>
      2012 
      <% if APP_CONFIG[:show_versions_and_limits] %>
          &nbsp;&nbsp;<%= APP_CONFIG[:host] %>
          &nbsp;
          version: <%= APP_CONFIG[:version] %>
          &nbsp;&nbsp;
      <% end %>
      &nbsp;&nbsp;<%= Time.now.utc.strftime("%a %b %d, %Y %I:%M:%S %P %Z") %>
    </center>
  </footer>
</body>
</html>
